{% load static %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>COVID-19 Predictor</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.min.css" %}>
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
      <!-- Responsive-->
      <link rel="stylesheet" href={% static "css/responsive.css" %}>
      <!-- fevicon -->
      <link rel="icon" href={% static "images/fevicon.png" %} type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href={% static "css/jquery.mCustomScrollbar.min.css" %}>
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
      <link rel="stylesheet" href={% static "css/owl.theme.default.min.css" %}>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
	  <style>
		form {
			max-width: 500px;
			margin: 0 auto;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 5px;
		}

		label {
			display: block;
			margin-bottom: 10px;
		}

		input[type="text"] {
			width: 100%;
			padding: 10px;
			margin-bottom: 20px;
			border: 1px solid #ccc;
			border-radius: 5px;
			font-size: 16px;
		}

		input[type="submit"] {
			background-color: #4CAF50;
			color: white;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			font-size: 16px;
			cursor: pointer;
		}

		input[type="submit"]:hover {
			background-color: #3e8e41;
		}
	</style>
   </head>
   <body>
      <!--header section start -->
      <div class="header_section">
         <div class="container-fluid">
               <div class="main">
                  <div class="logo"><img src={% static "images/logo.png" %}></div>
                  <div class="menu_text">
                     <ul>
                        <div class="togle_">
                           <div class="menu_main">
                              <ul>
                                 <li><a href="#">Login</a></li>
                                 <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                              </ul>
                           </div>
                        </div>
                        <div id="myNav" class="overlay">
                           <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                           <div class="overlay-content">
                              <a href="home.html">Home</a>
                              <a href="Predict.html">Predict</a>
                           </div>
                        </div>
                        <span class="navbar-toggler-icon"></span>
                        <span onclick="openNav()"><img src={% static "images/toogle-icon.png" %} class="toggle_menu"></span>
                        <span onclick="openNav()"><img src={% static "images/toogle-icon1.png" %} class="toggle_menu_1"></span>
                     </ul>
                  </div>
               </div>
            </div>
      <!-- banner section start -->
      <div class="banner_section layout_padding">
         <div class="container">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="container">
                              <h1 class="banner_taital">To do  your   test   fill   form   below.</h1>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="banner_img"><img src={% static "images/banner-img.png" %}></div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="container">
                              <h1 class="banner_taital">Get Medical Care early</h1>
                              <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                              <div class="more_bt"><a href="#">Read More</a></div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="banner_img"><img src={% static "images/banner-img.png" %}></div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="container">
                              <h1 class="banner_taital">Get Medical Care early</h1>
                              <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                              <div class="more_bt"><a href="#">Read More</a></div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="banner_img"><img src={% static "images/banner-img.png" %}></div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
         </div>            
      </div>
      <!-- banner section end -->
      </div>
      <!-- header section end -->
      <!-- protect section start -->
      <div class="protect_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="protect_taital">Please fill that form</h1>
                  <p class="protect_text">English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for</p>
               </div>
            </div>
            <div class="protect_section_2 layout_padding">
               <div class="row">
                  <div class="col-md-6">
					<form action="" method="post">
                     
                  {% csrf_token %}
						<label for="input1">Platelets :</label>
						<input type="text" id="input1" name="input1" required>
				   
						<label for="input2">Leukocytes :</label>
						<input type="text" id="input2" name="input2" required>
				
						<label for="input3">Eosinophils :</label>
						<input type="text" id="input3" name="input3" required>
				
						<label for="input4">Monocytes :</label>
						<input type="text" id="input4" name="input4" required>

						<label for="input5">Est malade :</label>
						<input type="text" id="input5" name="input5" required>
						<input type="submit" value="Submit">
                  <style>
                     .wrapper__result {
                        margin-top: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #f5f7f6;
                        box-shadow: 12px 7px 11px #e9e9e9;
                     }
                       #result {
                         font-size: 18px;
                         margin-top: 11px;
                       }
                  </style>
                  <div class="wrapper__result" >
                     <h1 id="result">{{result}}</h1>
                  </div>
					</form>
                  </div>
                  <div class="col-md-6">
                     <div class="image_2"><img src={% static "images/img-2.png" %}></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- protect section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="about_img"><img src={% static "images/img-1.png" %}></div>
               </div>
               <div class="col-md-6">
                  <h1 class="about_taital">Coronavirus what it is?</span></h1>
                  <p class="about_text">Coronaviruses are a family of viruses that can cause respiratory illness in humans. They are called <b>“corona”</b> because of crown-like spikes on the surface of the virus. Severe acute respiratory syndrome (SARS), Middle East respiratory syndrome (MERS) and the common cold are examples of coronaviruses that cause illness in humans.</p>
                  <div class="read_bt"><a href="#">Read More</a></div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- doctor section start -->
      <div class="doctors_section layout_padding">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <div class="taital_main">
                     <div class="taital_left">
                        <div class="play_icon"><img src={% static "images/play-icon.png" %}></div>
                     </div>
                     <div class="taital_right">
                        <h1 class="doctor_taital">Corona in Morocco</h1>
                        <p class="about_text">In Morocco, from 3 January 2020 to 6:06pm CET, 21 March 2023, there <br> have been 1 272 585 confirmed cases of COVID-19 with 16 296 deaths,<br> reported to WHO. As of 19 March 2023, a total of 55 385 580 vaccine<br> doses have been administered.</p>
                        <!--<div class="readmore_bt"><a href="#">Read More</a></div>-->
                        <div class="readmore_bt"><a href="https://covid19.who.int/region/emro/country/ma">Read More</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- doctor section end -->
      <!-- news section start -->
      <div class="news_section layout_padding">
         <div class="container">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <h1 class="news_taital">Latest News</h1>
                     <p class="news_text">Morocco’s National Airports Office (ONDA) announced on Tuesday that Moroccan airports welcomed a total of 1,981,294 passengers in January 2023, recording a 6% increase compared to the same period in 2019.

                        The COVID-19 crisis has heavily impacted global air traffic, including that of Morocco, a country whose economy heavily relies on the tourism sector. </p>
                     <div class="news_section_2 layout_padding">
                        <div class="box_main">
                           <div class="image_1"><img src={% static "images/news-img.png" %}></div>
                           <h2 class="design_text">Coronavirus is Very dangerous</h2>
                           <p class="lorem_text">Although scientists won’t know for sure until testing becomes widespread, COVID-19 could be about 10 times more deadly than the seasonal flu, which leads to death in about 0.1% of those it infects, says Donald N. Forthal, MD, professor of medicine and molecular biology and biochemistry, and chief of infectious diseases at UCI School of Medicine.</p>
                           <div class="read_btn"><a href="#">Read More</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                    <h1 class="news_taital">Latest News</h1>
                     <p class="news_text">when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
                     <div class="news_section_2 layout_padding">
                        <div class="box_main">
                           <div class="image_1"><img src={% static "images/news-img.png" %}></div>
                           <h2 class="design_text">Coronavirus is Very dangerous</h2>
                           <p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
                           <div class="read_btn"><a href="#">Read More</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                    <h1 class="news_taital">Latest News</h1>
                     <p class="news_text">when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using</p>
                     <div class="news_section_2 layout_padding">
                        <div class="box_main">
                           <div class="image_1"><img src={% static "images/news-img.png" %}></div>
                           <h2 class="design_text">Coronavirus is Very dangerous</h2>
                           <p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
                           <div class="read_btn"><a href="#">Read More</a></div>
                        </div>
                     </div>      
                  </div>
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
            </div>
         </div>
      </div>
      <!-- news section end -->
      <!-- update section start -->
      <div class="update_section">
         <div class="container">
            <h1 class="update_taital">DATA MININNG PROJECT</h1>
            <form action="/action_page.php">
               <div class="form-group">
                   <textarea class="update_mail" placeholder="Feedback" rows="5" id="comment" name="Massage"></textarea>
               </div>
               <div class="subscribe_bt"><a href="#">Subscribe Now</a></div>
            </form>
         </div>
      </div>
      <!-- update section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="footer_section_2">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <h2 class="useful_text">Resources</h2>
                     <div class="footer_menu">
                        <ul>
                           <li><a href="#">What we do</a></li>
                           <li><a href="#">Media</a></li>
                           <li><a href="#">Travel Advice</a></li>
                           <li><a href="#">Protection</a></li>
                           <li><a href="#">Care</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h2 class="useful_text">About</h2>
                     <p class="footer_text">Our website is dedicated to providing accurate predictions and updates on the COVID-19 pandemic. With the ongoing global health crisis, it is essential to have access to reliable information to make informed decisions. We are committed to promoting public health and safety, and our goal is to contribute to the global efforts to overcome the COVID-19 pandemic.</p>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h2 class="useful_text">Contact Us</h2>
                     <div class="location_text">
                        <ul>
                           <li>
                              <span class="padding_15">RABAT</span>
                           </li>
                           <li>
                              <span class="padding_15">Call +212 *********</span>
                           </li>
                           <li>
                              <span class="padding_15">redouanemh@gmail.com</span>
                              <span class="padding_15">taha@gmail.com</span>

                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <br />
                     <div class="map_image"><img src={% static "images/map-bg.png" %}></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <p class="copyright_text">DATA MININNG PROJECT.EL MAHFOUD RADOUANE & NOULAI TAHA</p>
               </div>
            </div>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
              
         $(".zoom").hover(function(){
              
         $(this).addClass('transition');
         }, function(){
              
         $(this).removeClass('transition');
         });
         });
      </script> 
      <script>
         function openNav() {
         document.getElementById("myNav").style.width = "100%";
         }
         function closeNav() {
         document.getElementById("myNav").style.width = "0%";
         }
      </script>  
   </body>
</html>